{% extends "standard.html" %}

{% block title %}Login{% endblock %}

{% block content %}

{% if form.errors %}
    <div class="warning">
    <p>Username und Passwort stimmen nicht überein. Versuche es bitte erneut.</p>
    </div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <div class="warning">
        <p>Dein Account hat keinen Zugriff auf diese Seite. Bitte logge Dich
        mit einem Account mit den nötigen Rechten ein.</p>
    </div>
    {% endif %}
{% endif %}

<p>Bitte logge Dich ein um, auf die Pads zuzugreifen.</p>

<div id="id_login" class="center">
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <div class="credentials">
            <h3>Benutzer*in:</h3>
            {{ form.username }}
        </div>
        <div class="credentials">
            <h3>Passwort:</h3>
            {{ form.password }}
        </div>
        <div style="margin-top: 20px; padding-bottom: 40px">
            <a href="{% url 'password_reset' %}" id="id_password_reset">Passwort vergessen?</a>
            <input type="submit" value="Anmelden" id="id_login_submit" />
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </form>
</div>

<p>Wenn Du keinen Account hast, findest Du unter <a href="#">Hilfe</a> die
richtigen Ansprechpartner*innen.</p>

{% endblock %}
