{% extends "standard.html" %}

{% block title %}Passwortreset{% endblock %}


{% block content %}

{% if form.errors %}
{{ form.errors }}
{% endif %}

<form method="post" action="{% url 'password_reset' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.email.label_tag }}</td>
    <td>{{ form.email }}</td>
</tr>
</table>

<input type="submit" value="Send Email" id="id_send_email" />
</form>

{% endblock %}
