{% extends "standard.html" %}

{% block title %}Passwortreset{% endblock %}


{% block content %}

{% if form.errors %}
{{ form.errors }}
{% endif %}

<form method="post">
{% csrf_token %}
Bitte geben Sie neues Passwort zwei mal ein.
<table>
<tr>
    <td>{{ form.new_password1.label_tag }}</td>
    <td>{{ form.new_password1 }}</td>
</tr>
<tr>
    <td>{{ form.new_password2.label_tag }}</td>
    <td>{{ form.new_password2 }}</td>
</tr>
</table>

<input type="submit" value="Passwort ändern" id="id_change_password" />
</form>

{% endblock %}
