body {
    width: 100%;
    background: #FFFFFF;
    font-family: Roboto, arial, sans-serif;
    font-size: 16px;
    margin: 0px;
}

hr {
    width: 700;
    border-style: solid;
    border-color: #FD8C00;
    background-color: #FD8C00;
    display: block;
    margin: 0px;
    padding: 0px;
}

a {
    color: #DD6C00;
}

input {
  width: 200px;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 6px;
}

input[type=submit] {
  background: linear-gradient(#FFF, #EEE);
  padding: 3px 6px;
}

input[type=checkbox] {
  width: 16px;
}

.message {
  color: green;
}

.warning {
    margin: 0px;
    padding: 0px;
    color: red;
}

.errorlist {
    list-style: none;
    color: red;
    padding: 0px;
    margin: 0px;
}

input.credentials {
    width: 285px;
}

table.form_table {
    margin: 20px 10px;
}

div.listing {
  width: 100%;
  margin: 20px 0px;
}

.listing table {
    width: 100%;
    padding: 0px;
    padding-bottom: 8px;
    border-spacing: 0px;
}

.listing td {
    padding: 2px 5px;
}


.listing tr:nth-child(even) {
    background: #EEE;
}

.listing tr:nth-child(odd) {
    background: #DDD;
}

.listing tr:first-child {
    background: #BBB;
}

.listing a {
    text-decoration: none;
    color: #000;
}

.icon {
    padding-top: 5px;
}

.center {
    margin: auto;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.navigation {
    width: 100%;
    height: 25px;
    font-family: Montserrat, arial, sans-serif;
}

.navigation a {
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px;
    padding: 3px 8px;
}

.navigation a:hover {
    background-color: #FD8C00;
}

#id_outer {
    padding: 0px;
}

#id_inner {
    margin: auto;
    width: 700px;
    margin-top: 35px;
}

#id_content {
    padding: 15px;
}

#id_login {
    width: 300px;
    font-weight: bold;
    margin-top: 30px;
}

#id_login_submit {
    float: right;
    width: 100px;
}

#id_page_title {
    width: 500px;
    height: 200px;
    position: relative;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 20px;
}

#id_page_title h1 {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0px;
    margin: 0px;
    letter-spacing: 4px;
}

#id_page_title a {
    color: #000000;
    text-decoration: none;
}

#id_create_pad {
    width: 150px;
}

#id_pad_body {
    margin: 0px;
    padding: 0px;
}

#id_pad_header {
    width: 100%;
    height: 30px;
    background-color: #000000;
    font-size: 18px;
    color: #FFFFFF;
    padding: 0px;
}

#id_pad_title {
    margin-top: 2px;
    margin-left: 5px;
    display: inline-block;
}

#id_pad_back {
    position: absolute;
    top: 2px;
    right: 10px;
    text-algin: right;
}

#id_etherpad {
    position: absolute;
    height: calc(100% - 30px);
    width: 100%;
}
