{% extends "standard.html" %}

{% block title %}Mein Account{% endblock %}

{% block content %}
<p> Auf dieser Seite könnt Ihr Euren Account verwalten.<p>
<h3>Passwort ändern:</h3>
<form method="post">
{% csrf_token %}
  <table class="form_table">
    <tr><td width="200px">Altes Passwort:</td><td>{{ form.old_password }}</td></tr>
    <tr><td>Neues Passwort:</td><td>{{ form.new_password1 }}</td></tr>
    <tr><td>Passwort wiederholen:</td><td>{{ form.new_password2 }}</td></tr>
  </table>
  <input type="submit" value="Passwort ändern" id="id_change_password_submit" />
</form>
{% endblock %}
