{% extends "standard.html" %}
{% load static %}

{% block title %}Admin{% endblock %}

{% block content %}

<p>Diese Seite ist nur für Admin-Nutzer*innen sichtbar.</p>

<h3>Neuen Account erstellen:</h3>
<form method="POST">
  {% csrf_token %}
  <table class="form_table">
    <tr>
      <td>Username:</td><td>{{ form.username }}</td>
      <td>Email:</td><td>{{ form.email }}</td>
    </tr>
    <tr>
      <td>Vorname:</td><td>{{ form.first_name }}</td>
      <td>Nachname:</td><td>{{ form.last_name }}</td>
    </tr>
    <tr>
      <td>Passwort:</td><td>{{ form.new_password1 }}</td>
      <td>Passwort wiederholen:</td><td>{{ form.new_password2 }}</td>
    <tr>
      <td>Admin:</td><td>{{ form.is_staff }}</td>
      <td></td>
      <td><input style="width: 100%" id="id_create_user_submit" value="Erstellen" type="submit"/></td>
    </tr>
  </table>
</form>

<h3>Accounts verwalten:</h3>

<div class="listing">
  <table>
    <tr>
      <td style="width: 100px">Username:</td>
      <td style="width: 200px">Name:</td>
      <td>Emailadresse:</td>
      <td style="width: 32px">Admin:</td>
      <td style="width: 16px"></td>
    </tr>
    {% for user in users %}
    <tr>
      <td>{{ user.username }}</td>
      <td>{{ user.first_name|truncatechars:10 }} {{ user.last_name|truncatechars:10 }}</td>
      <td>{{ user.email|truncatechars:25 }}</td>
      <td><center><input type="checkbox" {% if user.is_staff %}checked="checked"{% endif %} disabled="disabled" style="width: 16px"/></center></td>
      <td>{% if not user.is_superuser %}<a href="/admin/{{ user.username }}/delete/" id="id_delete_{{ user.username }}"><img src="{% static "images/x-mark-16.png" %}" class="icon" title="Löschen" /></a>{% endif %}</td>
    </tr>
{% endfor %}
  </table>
</div>

{% endblock %}
