{% load static %}

<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} - StuRa Uni Freiburg</title>
        <link href={% static "css/style.css" %} rel="stylesheet" />
        <link rel="shortcut icon" type="image/png" href="{% static "images/favicon.ico" %}" />
    </head>
    {% block body %}
    {% endblock %}
</html>
