{% extends "standard.html" %}

{% block title %}Neues Pad{% endblock %}

{% block content %}
<p>Auf dieser Seite können neue Etherpads erstellt werden.
<p>Sofern ein Passwort angegeben wird, wird dieses jedes mal vor Bearbeiten des Pads abgefragt.</p>
<p>Öffentliche Pads können auch von Leuten ohne Account bearbeitet werden, sofern sie den Link kennen. Öffentliche Pads sollten meistens mit Passwort geschützt werden.</p>
<h3>Neues Pad erstellen:</h3>
<form method="POST" action="{% block form_action %}{% endblock %}">
  {% csrf_token %}
  <table class="form_table">
    <tr><td width="100px">Titel:</td><td>{{ form.title }}</td></tr>
    <tr><td>Passwort:</td><td>{{ form.password }}</td></tr>
    <tr><td>Öffentlich:</td><td>{{ form.is_public }}</td></tr>
  </table>
  <input id="id_create_pad" value="Erstellen" type="submit" />
</form>
{% endblock %}
