{% extends "standard.html" %}

{% block title %}Pad löschen{% endblock %}

{% block content %}
<p>Willst Du das Pad <b>{{ title }}</b> wirklich <b>löschen</b>? Dies kann nicht rückgängig gemacht werden.</p>
<form action="/"><input id="id_back_submit" type="submit" value="Zurück"></form>&ensp;<form method="post">{% csrf_token %}<input id="id_delete_submit" type="submit" value="Löschen"></form>
{% endblock %}
