{% extends "standard.html" %}

{% block title %}Account löschen{% endblock %}

{% block content %}
Willst Du den Account <b>{{ username }}</b> wirklich <b>löschen</b>? Dies kann nicht rückgängig gemacht werden.
<form action="{% url "admin" %}"><input id="id_back_submit" type="submit" value="Zurück"></form>
<form method="post">{% csrf_token %}<input id="id_delete_submit" type="submit" value="Löschen"></form>
{% endblock %}
