{% extends base.html %}

{% block head %}
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link href={% static "css/style.css" %} rel="stylesheet" />
</head>
{% endblock %}
