{% extends "standard.html" %}
{% load static %}

{% block title %}Padübersicht{% endblock %}

{% block content %}
<p>Hier findet Ihr eine Auflistung aller aktiven Pads. Um an einem Pad mitzuarbeiten, klickt auf den Namen.</p>
  <div class="listing">
    <table>
      <tr>
        <td>Padname:</td>
        <td style="width: 48px"></td>
        <td style="width: 2px"></td>
        <td style="width: 16px"></td>
      </tr>
    {% for pad in pads %}
      <tr>
          <td><a href="/pad/{{ pad.title|urlencode }}/">{{ pad.title|truncatechars:50 }}</a></td>
          <td align="right">
              {% if pad.password %}<img class="icon" src="{% static "images/lock_black-16.png" %}" title="Passwortgeschützt" />{% endif %}
              {% if pad.is_public %}&ensp;<img class="icon" src="{% static "images/globe_black-16.png" %}" title="Öffentlich" />{% endif %}
          </td>
          <td></td>
          <td><a href="/pad/{{ pad.title|urlencode }}/delete/" id="id_delete_{{ pad.title }}"><img class="icon" src="{% static "images/x-mark-16.png" %}" title="Löschen" /></a> </td>
      </tr>
    {% endfor %}
    </table>
  </div>
{% endblock %}
