{% extends "base.html" %}
{% load static %}

{% block title %}{{ pad.title }}{% endblock %}

{% block body %}
<body id="id_pad_body">
  <div id="id_pad_header">
      <b id="id_pad_title">Pad:&emsp;{{ pad.title }}</b>&ensp;
      {% if pad.password %}<img class="icon" src="{% static "images/lock_white-16.png" %}" id="id_password_protected" title="Passwortgeschützt" />{% endif %}
      {% if pad.is_public %}<img class="icon" src="{% static "images/globe_white-16.png" %}" id="id_public" title="Öffentlich" />{% endif %}
      <a href="{% url 'index' %}" id="id_pad_back">Zurück</a>
  </div>
{% if get_password_form %}
  <div id="id_get_pad_password">
      {% if wrong_password %}<p>Das Passwort ist leider falsch.</p>{% endif %}
      <form method="POST">
          {% csrf_token %}
          {{ get_password_form }}
          <input type="submit" value="Freischalten" id="id_submit_password" />
      </form>
  </div>
{% else %}
  <div>
      <iframe src="{{ etherpad_url }}/p/{{ group_id }}${{ title }}"
              name="etherpad" id="id_etherpad" frameborder="0"></iframe>
  </div>
{% endif %}
</body>
{% endblock %}
