{% extends "base.html" %}
{% load static %}

{% block body %}
<body>
  <div id="id_outer">
      <div id="id_page_title">
          <h1><a href="{% url "index" %}">Etherpad</a></h1>
      </div>
      <div id="id_inner">
          <div id="id_header" class="navigation">
              <div class="float_left">
                  {% if user.is_authenticated %} 
                  <a href="{% url "index" %}">PADS</a><a href="{% url "create_pad" %}">NEUES PAD</a><a href="{% url "account" %}">MEIN ACCOUNT</a>{% if request.user.is_staff or request.user.is_superuser %}<a href="{% url "admin" %}">ADMIN</a>{% endif %}
                  {% else %}
                      <a href="#">ZUR HOMEPAGE</a>
                  {% endif %}
              </div>
              <div class="float_right">
                  {% if user.is_authenticated %}
                      <a href="{% url "logout" %}">ABMELDEN</a>
                  {% else %}
                      <a href="{% url "login" %}">ANMELDEN</a>
                  {% endif %}
              </div>
          </div>
          <hr />
          <div id="id_content">
          {% if message %}
            <div class="message">
              <p>{{ message|striptags }}</p>
            </div>
          {% endif %}

          {% if form.errors %}
            <div class="warning">
              {% for field in form %}
                <p>{{ field.errors|striptags }}</p>
              {% endfor %}
            </div>
          {% endif %}
  {% block content %}
  {% endblock %}
          </div>
          <hr />
          <div id="id_footer" class="navigation">
              <div class="float_left">
                  <a href="{% url "help" %}">HILFE</a>
              </div>
              <div class="float_right">
                  <a href="{% url "privacy_notice" %}">DATENSCHUTZ</a>
                  <a href="{% url "about" %}">IMPRESSUM</a>
              </div>
          </div>
      </div>
  </div>
</body>
{% endblock %}
